@{
    ViewData["Title"] = "Delete Confirmation";
}

<h1>Delete Confirmation</h1>

<div class="alert alert-success">
    <h4>User has been successfully deleted.</h4>
</div>

<div>
    <a asp-action="user" class="btn btn-primary">Back to Users</a>
</div>