@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center"> 
    <br />
    <br />
    <h1>Welcome To </h1>
    <img src="@Url.Content("~/logo.png")" alt="Logo" class="logoMain">
    <h3>Master Your Money, Effortlessly</h3>
    <br />
    <br />
    <p>Discover smart budgeting made simple with SpendSense. 
     Designed to help you track, manage, and optimize your spending, 
     SpendSense empowers you to make sense of every dollar. With intuitive 
     insights and easy-to-use tools, you’ll gain full control over your finances, 
     transforming your financial habits for a more secure future.</p>
    <br />
    <br />

    <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Login</a>

</div>

